<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mt-3">Edit Vacancy</h1>
        </div>
        <div class="my-auto">
            <button class="btn btn-secondary" [routerLink]="['/vacancy']">Back to Vacancy List</button>
        </div>
    </div>
    <form [formGroup]="editVacancyForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">
            <div class="mt-3 p-2">
                <label for="jobTitle" class="form-label">Job Title *</label>
                <input 
                    type="text" 
                    id="jobTitle"
                    name="jobTitle" 
                    class="form-control w-100"
                    placeholder="Enter Job Title"
                    formControlName="jobTitle"
                    [value]="model.jobTitle"/>
                <small class="d-block text-danger"
                    *ngIf="editVacancyForm.get('jobTitle')?.invalid && editVacancyForm.get('jobTitle')?.dirty">
                    Job Title is Required.
                </small>
            </div>

            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="noOfVacancies" class="form-label">No of Vacancies *</label>
                        <input 
                            type="text" 
                            id="noOfVacancies" 
                            name="noOfVacancies"
                            class="form-control w-100"
                            placeholder="Enter Total Number of Vacancies"
                            formControlName="noOfVacancies"
                            [value]="model.noOfVacancies"/>
                        <small class="d-block text-danger"
                            *ngIf="editVacancyForm.get('noOfVacancies')?.invalid && editVacancyForm.get('noOfVacancies')?.dirty">
                            Total Number of Vacancies should be greater than 1.
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label class="form-label d-block">Last Date *</label>
                        <p-calendar 
                            type="date" 
                            id="lastDate" 
                            name="lastDate" 
                            [(ngModel)]="model.lastDate" 
                            [ngModelOptions]="{standalone: true}"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="maximumSalary" class="form-label">Maximum Salary *</label>
                        <input 
                            type="number" 
                            id="maximumSalary" 
                            name="maximumSalary" 
                            class="form-control w-100"
                            placeholder="Enter Maximum Salary"
                            formControlName="maximumSalary"
                            [value]="model.maximumSalary"/>
                        <small class="d-block text-danger"
                            *ngIf="editVacancyForm.get('maximumSalary')?.invalid && editVacancyForm.get('maximumSalary')?.dirty">
                            Maximum Salary is Required.
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label for="minimumSalary" class="form-label">Minimum Salary *</label>
                        <input 
                            type="number" 
                            id="minimumSalary" 
                            name="minimumSalary" 
                            class="form-control w-100"
                            placeholder="Enter Minimum Salary"
                            formControlName="minimumSalary"
                            [value]="model.minimumSalary"/>
                        <small class="d-block text-danger"
                            *ngIf="editVacancyForm.get('minimumSalary')?.invalid && editVacancyForm.get('minimumSalary')?.dirty">
                            Minimum Salary is Required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-3 p-2">
                <label for="minimumQualification" class="form-label">Minimum Qualification *</label>
                <input 
                    type="text" 
                    id="minimumQualification" 
                    name="minimumQualification" 
                    class="form-control w-100"
                    placeholder="Enter Minimum Qualification"
                    formControlName="minimumQualification"
                    [value]="model.minimumQualification"/>
                <small class="d-block text-danger"
                    *ngIf="editVacancyForm.get('minimumQualification')?.invalid && editVacancyForm.get('minimumQualification')?.dirty">
                    Minimum Qualification is Required.
                </small>
            </div>

            <div class="mt-3 p-2">
                <label for="experienceRequired" class="form-label">Experience Required *</label>
                <input 
                    type="text" 
                    id="experienceRequired" 
                    name="experienceRequired" 
                    class="form-control w-100"
                    placeholder="Enter Experience Required"
                    formControlName="experienceRequired"
                    [value]="model.experienceRequired"/>
                <small class="d-block text-danger"
                    *ngIf="editVacancyForm.get('experienceRequired')?.invalid && editVacancyForm.get('experienceRequired')?.dirty">
                    Experience is Required.
                </small>
            </div>

            <div class="mt-3 p-2">
                <label for="jobDescription" class="form-label">Job Description *</label>
                <div class="d-flex flex-row">
                    <textarea 
                        pInputTextarea
                        id="jobDescription" 
                        name="jobDescription" 
                        style="height: 180px; max-height: 180px;" 
                        class="form-control w-100"
                        placeholder="Enter Job Description"
                        formControlName="jobDescription"
                        [value]="model.jobDescription">
                    </textarea>
                    <small class="d-block text-danger"
                        *ngIf="editVacancyForm.get('jobDescription')?.invalid && editVacancyForm.get('jobDescription')?.dirty">
                        Minimum 50 characters are Required
                    </small>
                </div>
            </div>

            <div class="mt-3 p-2">
                <button type="submit" class="btn btn-primary me-2" [disabled]="editVacancyForm.invalid">Edit</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmDeleteLabel">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onDelete()" class="btn btn-danger" data-bs-dismiss="modal" >Yes, Delete</button>
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>