<div class="container">
    <h1 class="mt-3">Candidate List</h1>
    <ng-container *ngIf="jobapplications$| async as jobapplications">
        <table *ngIf="jobapplications.length != 0; else noApplications" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Candidate Name</th>
                    <th>Candidate Email</th>
                    <th>Applied Date</th>
                    <th>Vacancy Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobapplication of jobapplications">
                    <td>{{jobapplication.user.firstName}} {{jobapplication.user.lastName}}</td>
                    <td>{{jobapplication.user.email}}</td>
                    <td>{{jobapplication.appliedDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{jobapplication.vacancy.jobTitle}}</td>
                    <td>
                        <a class="btn btn-light" [routerLink]="['/candidate/', jobapplication.user.id]">Candidate Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #noApplications>
        <p class="mt-2">
            No one has Applied for this Vacancy!
        </p>
    </ng-template>
</div>
