<div class="container">
    <h1 class="mt-3">Candidate List</h1>
    <p-accordion [activeIndex]="0">
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="d-flex ms-auto">
                    <span>
                        <input pInputText type="text" #filter class="form-control" placeholder="Filter" />
                    </span>
                    <button class="btn btn-primary ms-2" type="button"
                        (click)="applyFilterGlobal(filter.value)">Search</button>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <tr class="text-center border-bottom">
                    <th style="width:15%">
                        <input pInputText type="text" #filterName class="form-control" placeholder="Filter By Name" />
                    </th>
                    <th style="width:20%">
                        <input pInputText type="text" #filterEmail class="form-control ms-2" placeholder="Filter By Email" />
                    </th>
                    <th style="width:15%"></th>
                    <th style="width:15%">
                        <input pInputText type="text" #filterFromDate class="form-control mb-2" placeholder="From Date" />
                        <input pInputText type="text" #filterToDate class="form-control" placeholder="To Date" />
                    </th>
                    <th style="width:20%">
                        <select #filterStatus class="form-control ms-2">
                            <option value="" selected>All Applications</option>
                            <option value="ACCEPTED">ACCEPTED Applications</option>
                            <option value="REJECTED">REJECTED Applications</option>
                            <option value="SUBMITTED">SUBMITTED Applications</option>
                        </select>
                    </th>
                    <th style="width:15%">
                        <button class="btn btn-primary ms-2" type="button"
                            (click)="applyfilter(filterName.value, filterEmail.value, filterFromDate.value, filterToDate.value, filterStatus.value)">Apply</button>
                    </th>
                </tr>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
    <div class="card mt-3">
        <p-table #dt1 [value]="this.jobapplications" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
            [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="2" [totalRecords]="totalRecords"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[1, 2, 10, 25, 50]">
            <ng-template pTemplate="header">
                <tr class="text-center">
                    <th pSortableColumn="FullName" style="width:15%">
                        Candidate Name <p-sortIcon field="FullName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Email" style="width:20%">
                        Candidate Email <p-sortIcon field="Email"></p-sortIcon>
                    </th>
                    <th style="width:15%">Candidate Resume </th>
                    <th pSortableColumn="AppliedDate" style="width:15%">
                        Applied Date <p-sortIcon field="AppliedDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ApplicationStatus" style="width:20%">
                        Application Status <p-sortIcon field="ApplicationStatus"></p-sortIcon>
                    </th>
                    <th style="width:15%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-jobapplication>
                <tr>
                    <td class="text-center">{{jobapplication.user.firstName + " " + jobapplication.user.lastName}}</td>
                    <td class="text-center">{{jobapplication.user.email}}</td>
                    <td class="text-center"><a href={{jobapplication.user.resumeUrl}} class="text-decoration-none"
                            target="_blank">Resume</a></td>
                    <td class="text-center">{{jobapplication.appliedDate | date: 'yyyy-MM-dd'}}</td>
                    <td class="fw-bold text-center">
                        {{jobapplication.applicationStatus}}
                        <div *ngIf="jobapplication.applicationStatus == 'SUBMITTED'">
                            <button type="button" class="btn btn-success me-2"
                                (click)="onClick('ACCEPTED', jobapplication)">Accept</button>
                            <button type="button" class="btn btn-danger"
                                (click)="onClick('REJECTED', jobapplication)">Reject</button>
                        </div>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-light"
                            [routerLink]="['/vacancy/candidate/', jobapplication.user.id]">Candidate
                            Details</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template #noApplications>
        <p class="mt-2 card-body">
            No one has Applied for this Vacancy!
        </p>
    </ng-template>
</div>