<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mt-3">Add Profile Details</h1>
        </div>
        <div class="my-auto">
            <button class="btn btn-secondary" [routerLink]="['/user',email]">Back to Profile Page</button>
        </div>
    </div>
    <form [formGroup]="addProfileForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">
            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="firstName" class="form-label">First Name *</label>
                        <input pInputText type="text" id="firstName" name="firstName" class="w-100"
                            placeholder="Enter Your First Name" formControlName="firstName" />
                        <small class="d-block text-danger"
                            *ngIf="addProfileForm.get('firstName')?.invalid && addProfileForm.get('firstName')?.dirty">
                            First Name is Required.
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label for="lastName" class="form-label">Last Name *</label>
                        <input pInputText type="text" id="lastName" name="lastName" class="w-100"
                            placeholder="Enter Your Last Name" formControlName="lastName" />
                        <small class="d-block text-danger"
                            *ngIf="addProfileForm.get('lastName')?.invalid && addProfileForm.get('lastName')?.dirty">
                            Last Name is Required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="phone" class="form-label">Phone Number *</label>
                        <input pInputText type="text" id="phone" name="phone" class="w-100"
                            placeholder="Enter Your Phone Number" formControlName="phone" />
                        <small class="d-block text-danger"
                            *ngIf="addProfileForm.get('phone')?.invalid && addProfileForm.get('phone')?.dirty">
                            Phone Number should be of 10 digit
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label class="form-label d-block">Date of Birth *</label>
                        <p-calendar type="date" [(ngModel)]="model.dateOfBirth" [ngModelOptions]="{standalone: true}">
                        </p-calendar>
                        <small class="d-block text-danger" *ngIf="dateFlag">
                            Enter Date Of Birth
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="totalExperience" class="form-label">Total Experience *</label>
                        <input pInputText type="number" id="totalExperience" name="totalExperience" class="w-100"
                            placeholder="Enter Your Total Experience" formControlName="totalExperience" />
                        <small class="d-block text-danger"
                            *ngIf="addProfileForm.get('totalExperience')?.invalid && addProfileForm.get('totalExperience')?.dirty">
                            Total Experience is Required.
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label for="expectedSalary" class="form-label">Expected Salary *</label>
                        <input pInputText type="number" id="expectedSalary" name="expectedSalary" class="w-100"
                            placeholder="Enter Your Expected Salary" formControlName="expectedSalary" />
                        <small class="d-block text-danger"
                            *ngIf="addProfileForm.get('expectedSalary')?.invalid && addProfileForm.get('expectedSalary')?.dirty">
                            Expected Salary is Required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-3 d-flex flex-row">
                <div class="col-6 p-2">
                    <label for="UploadResume" class="form-label">Upload Resume *</label>
                    <input type="file" id="UploadResume" name="UploadResume" class="form-control"
                        (change)="onFileUploadChange($event)" />
                    <small class="d-block text-danger" *ngIf="resumeFlag">
                        Upload Resume
                    </small>
                </div>
                <div class="col-6 p-2">
                    <label for="UploadImage" class="form-label">Upload Image *</label>
                    <input type="file" id="UploadImage" name="UploadImage" class="form-control"
                        (change)="onImageFileUploadChange($event)" />
                    <small class="d-block text-danger" *ngIf="imageFlag">
                        Upload Image
                    </small>
                </div>
            </div>

            <div class="mt-3 p-2">
                <label for="address" class="form-label">Address *</label>
                <div class="d-flex flex-row">
                    <textarea rows="5" cols="30" pInputTextarea id="address" name="address" class="w-100 h-100"
                        formControlName="address">
                    </textarea>
                </div>
                <small class="d-block text-danger"
                    *ngIf="addProfileForm.get('address')?.invalid && addProfileForm.get('address')?.dirty">
                    Address is Required.
                </small>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="addProfileForm.invalid">Add Profile
                    Details</button>
            </div>
        </div>
    </form>
</div>