<div class="container">
    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-secondary" [routerLink]="['']">Back to Home Page</button>
    </div>
    <p-accordion [activeIndex]="0">
        <div class="mx-auto my-3">
            <p-accordionTab header="Vacancy Details" headerStyleClass="text-black text-decoration-none h3">
                <ng-container *ngIf="isVacancyVisible && vacancy; else loader">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3>Job Title: {{vacancy.jobTitle}}</h3>
                            </div>
                            <div *ngIf="this.userId">
                                <button *ngIf="!vacancy.applied" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#confirmApply">
                                    Apply
                                </button>
                                <button *ngIf="vacancy.applied" type="button" class="btn btn-primary" disabled
                                    #applied>Already Applied</button>
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">Posted on: {{vacancy.publishedDate | date: 'yyyy-MM-dd'}}</span>
                            <span class="fw-bold">Last Date to Apply: {{vacancy.lastDate | date: 'yyyy-MM-dd'}}</span>
                        </div>
                        <hr>

                        <div class="mt-1 p-2">
                            <span class="fw-bold"> Name: </span>{{vacancy.publishedBy}}
                        </div>

                        <div class="mt-1 p-2">
                            <span class="fw-bold">Minimum Qualification Required: </span>{{vacancy.minimumQualification}}
                        </div>

                        <div class="mt-1 p-2">
                            <span class="fw-bold">Minimum Experience Required: </span>{{vacancy.experienceRequired}}
                        </div>

                        <div class="mt-1">
                            <div class="d-flex flex-row">
                                <div class="col-6 p-2">
                                    <span class="fw-bold">No of Vacancies: </span>{{vacancy.noOfVacancies}}
                                </div>
                                <div class="col-6 p-2">
                                    <span class="fw-bold">Salary Range: </span>{{vacancy.minimumSalary}} - {{vacancy.maximumSalary}}
                                </div>
                            </div>
                        </div>

                        <div class="mt-1 p-2">
                            <p class="fw-bold">Job Description:</p>
                            <p style="white-space: pre-wrap;">{{vacancy.jobDescription}}</p>
                        </div>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmApply" tabindex="-1" aria-labelledby="confirmApplyLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="confirmApplyLabel">Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" (click)="onApply()" class="btn btn-success"
                                        data-bs-dismiss="modal">Yes, Apply</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </p-accordionTab>
            <p-accordionTab header="Organization Information" headerStyleClass="text-black h3 text-decoration-none">
                <ng-container *ngIf="isProfileVisible && profile; else loader">
                    <div class="row">
                        <div class="col-3">
                            <img [src]='profile.imageUrl' alt="" width="80%" height="80%">
                        </div>
                        <div class="col-9">
                            <div class="mt-1">
                                <div class="d-flex flex-row">
                                    <div class="col-6 p-2">
                                        <span class="fw-bold">Organization Name:</span> {{profile.organization}}
                                    </div>
                                    <div class="col-6 p-2">
                                        <span class="fw-bold">Organization Type: </span>{{profile.organizationType}}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1">
                                <div class="d-flex flex-row">
                                    <div class="col-6 p-2">
                                        <span class="fw-bold">Company Email: </span>{{profile.companyEmail}}
                                    </div>
                                    <div class="col-6 p-2">
                                        <span class="fw-bold">Company Phone: </span>{{profile.companyPhone}}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1">
                                <div class="d-flex flex-row">
                                    <div class="col-6 p-2">
                                        <span class="fw-bold">Start Year: </span>{{profile.startYear}}
                                    </div>
                                    <div class="col-6 p-2">
                                        <span class="fw-bold">Total No Of Employees: </span>{{profile.noOfEmployees}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex flex-row">
                            <div class="col-12 p-2">
                                <p class="fw-bold">Job Description:</p>
                                <p style="white-space: pre-wrap;">{{profile.about}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </p-accordionTab>
        </div>
    </p-accordion>

</div>

<ng-template #loader>
    <div class="text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>