<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <div>
            <h1>Add Vacancy</h1>
        </div>
        <div class="my-auto">
            <button class="btn btn-secondary" [routerLink]="['/employer/vacancy']">Back to Vacancy List</button>
        </div>
    </div>
    <form [formGroup]="addVacancyForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">
            <div class="mt-3 p-2">
                <label for="jobTitle" class="form-label">Job Title *</label>
                <input 
                    type="text" 
                    pInputText
                    id="jobTitle" 
                    name="jobTitle" 
                    class="form-control w-100"
                    placeholder="Enter Job Title"
                    formControlName="jobTitle"/>
                <small class="d-block text-danger"
                    *ngIf="addVacancyForm.get('jobTitle')?.invalid && addVacancyForm.get('jobTitle')?.dirty">
                    Job Title is Required.
                </small>
            </div>

            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="noOfVacancies" class="form-label">No of Vacancies *</label>
                        <input 
                            type="number" 
                            pInputText
                            id="noOfVacancies" 
                            name="noOfVacancies" 
                            class="form-control w-100"
                            placeholder="Enter Total Number of Vacancies"
                            formControlName="noOfVacancies"/>
                        <small class="d-block text-danger"
                            *ngIf="addVacancyForm.get('noOfVacancies')?.invalid && addVacancyForm.get('noOfVacancies')?.dirty">
                            Total Number of Vacancies should be greater than 1.
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label class="form-label d-block">Last Date</label>
                        <p-calendar 
                            type="date" 
                            id="lastDate"
                            name="lastDate" 
                            formControlName="lastDate">
                        </p-calendar>
                        <small class="d-block text-danger"
                            *ngIf="addVacancyForm.get('lastDate')?.invalid && addVacancyForm.get('lastDate')?.dirty">
                            Enter Last Date of applying for this vacancy
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <label for="maximumSalary" class="form-label">Maximum Salary *</label>
                        <input 
                            type="number" 
                            pInputText
                            id="maximumSalary"
                            name="maximumSalary" 
                            class="form-control w-100"
                            placeholder="Enter Maximum Salary"
                            formControlName="maximumSalary"/>
                        <small class="d-block text-danger"
                            *ngIf="addVacancyForm.get('maximumSalary')?.invalid && addVacancyForm.get('maximumSalary')?.dirty">
                            Maximum Salary is Required.
                        </small>
                    </div>
                    <div class="col-6 p-2">
                        <label for="minimumSalary" class="form-label">Minimum Salary *</label>
                        <input 
                            pInputText
                            type="number" 
                            id="minimumSalary" 
                            name="minimumSalary" 
                            class="form-control w-100"
                            placeholder="Enter Minimum Salary"
                            formControlName="minimumSalary"/>
                        <small class="d-block text-danger"
                            *ngIf="addVacancyForm.get('minimumSalary')?.invalid && addVacancyForm.get('minimumSalary')?.dirty">
                            Minimum Salary is Required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="mt-3 p-2">
                <label for="minimumQualification" class="form-label">Minimum Qualification *</label>
                <input 
                    type="text" 
                    pInputText
                    id="minimumQualification"
                    name="minimumQualification" 
                    class="form-control w-100"
                    placeholder="Enter Minimum Qualification"
                    formControlName="minimumQualification"/>
                <small class="d-block text-danger"
                    *ngIf="addVacancyForm.get('minimumQualification')?.invalid && addVacancyForm.get('minimumQualification')?.dirty">
                    Minimum Qualification is Required.
                </small>
            </div>

            <div class="mt-3 p-2">
                <label for="experienceRequired" class="form-label">Experience Required *</label>
                <input 
                    type="text" 
                    pInputText
                    id="experienceRequired"
                    name="experienceRequired" 
                    class="form-control w-100"
                    placeholder="Enter Experience Required"
                    formControlName="experienceRequired"/>
                <small class="d-block text-danger"
                    *ngIf="addVacancyForm.get('experienceRequired')?.invalid && addVacancyForm.get('experienceRequired')?.dirty">
                    Experience is Required.
                </small>
            </div>

            <div class="mt-3 p-2">
                <label for="jobDescription" class="form-label">Job Description *</label>
                <div class="d-block flex-row">
                    <textarea 
                        pInputTextarea
                        id="jobDescription" 
                        name="jobDescription" 
                        style="height: 180px; max-height: 180px;" 
                        class="form-control w-100"
                        placeholder="Enter Job Description"
                        formControlName="jobDescription">
                    </textarea>
                    <small class="d-block text-danger"
                        *ngIf="addVacancyForm.get('jobDescription')?.invalid && addVacancyForm.get('jobDescription')?.dirty">
                        Minimum 50 characters are Required
                    </small>
                </div>
            </div>

            <div class="mt-3 p-2">
                <button type="submit" class="btn btn-primary" [disabled]="addVacancyForm.invalid">Add Vacancy</button>
            </div>
        </div>
    </form>
</div>

