<div class="container">
    <h3 class="mt-5 p-2">User Profile</h3>
    <ng-container *ngIf="profile$ | async as profile; else addProfile">
        <div class="d-flex justify-content-end mt-2">
            <a [routerLink]="['/profile/edit']" class="btn btn-primary">
                Update User Profile
            </a>
        </div>
        <div class="container">
                <div class="mt-1">
                    <div class="mt-1">
                        <div class="d-flex flex-row">
                            <div class="col-6 p-2">
                                First Name: {{profile.firstName}}
                            </div>
                            <div class="col-6 p-2">
                                Last Name: {{profile.lastName}}
                            </div>
                        </div>
                    </div>

                    <div class="mt-1">
                        <div class="d-flex flex-row">
                            <div class="col-6 p-2">
                                Phone Number: {{profile.phone}}
                            </div>
                            <div class="col-6 p-2">
                                Date of Birth: {{profile.dateOfBirth | date: 'yyyy-MM-dd'}}
                            </div>
                        </div>
                    </div>
        
                    <div class="mt-1">
                        <div class="d-flex flex-row">
                            <div class="col-6 p-2">
                                Total Experience: {{profile.totalExperience}}
                            </div>
                            <div class="col-6 p-2">
                                Expected Salary: {{profile.expectedSalary}}
                            </div>
                        </div>
                    </div>

                    <div class="mt-1">
                        <div class="d-flex flex-row">
                            <div class="col-12 p-2">
                                <p class="m-0">Address: </p>
                                <pre style="white-space: pre-wrap;">{{profile.address}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        
    </ng-container>
    <ng-template #addProfile>
        <p class="mt-3">You have not Added Your Profile</p>
        <div class="d-flex justify-content-end mt-3">
            <a [routerLink]="['/user/add']" class="btn btn-primary">
                Add Profile
            </a>
        </div>
    </ng-template>
</div>