<div class="container">
    <div class="my-2">
        <div class="d-flex justify-content-end my-3">
            <span class="col-3 me-2">
                <input pInputText type="text" placeholder="Filter By Organization or JobTitle" #filter class="form-control">
            </span>
            <button class="btn btn-primary" type="button" (click)="filterResults(filter.value)">Search</button>
        </div>

        <div class="row align-items-stretch">
            <ng-container *ngIf="isVacancyVisible && vacancies">
                <div class="col-12 col-md-4 mb-3" *ngFor="let vacancy of vacancies">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{vacancy.jobTitle}}</h5>
                            <div class="card-text">Organization Name: {{vacancy.publishedBy}}</div>
                            <div class="card-text">No of Vacancies: {{vacancy.noOfVacancies}}</div>
                            <div class="card-text">Salary Range: {{vacancy.minimumSalary}} - {{vacancy.maximumSalary}}</div>
                            <span class="d-flex align-items-end mt-3" style="flex: 1">
                                <a [routerLink]="['/job', vacancy.id]" class="btn btn-primary">Read More</a>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>